.header {
  margin-bottom: 14px;
  background-color: #3a2302;
}
.container {
  display: flex;

  height: 50px;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0 15px;
}

.bm-menu-wrap {
}
.bm-burger-button {
  width: 0;
  height: 0;
}
/* @media screen and (min-width: 375px) {
  .container {
    
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
} */
