.contact {
  position: relative;
  font-family: 'Mate SC';
  width: 100%;
}
.container {
  display: flex;

  padding-left: 40px;

  height: 75px;

  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact:not(:last-child) {
  margin-bottom: 14px;
}
.userInfo {
  padding-top: 10px;
  padding-bottom: 20px;
}
.name {
  margin: 0;
  font-weight: 700;
  margin-bottom: 8.4px;
}
.number {
  margin: 0;
}
.userActions {
}
.btn {
  display: block;
  width: 0;
  height: 0;
  padding: 0;
  border: 0;

  cursor: pointer;
}
.editBtn {
  position: absolute;
  right: 50px;
  top: 10%;
}
.delBtn {
  position: absolute;
  right: 50px;
  bottom: 30px;
}
@media screen and (min-width: 768px) {
  .contact {
    width: calc((100% - 1 * 24px) / 2);
  }
  .contact:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    width: calc((100% - 2 * 24px) / 3);
  }
  .contact:not(:last-child) {
    margin-bottom: 0;
  }
}
