.slide {
  position: relative;

  display: flex;
  justify-content: center;
}
.iconAddUser {
}
.icon {
  stroke: white;
}
.text {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 10px;
  width: 350px;
  margin: 0;

  color: #3a2302;
  font-family: 'Mate SC';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.textChange {
}
@media screen and (max-width: 335px) {
  .text {
    width: 200px;
  }
}
