.filter {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-family: 'Mate SC';
  margin-bottom: 24px;
}
.input {
  width: 100px;

  background-color: #d9d9d9;
  border: 1px solid #8c8375;
  border-radius: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: 'Mate SC';
}
.input:focus {
  outline: none;
  border: 1px solid #3a2302;
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 32px;
  }
}
