.section {
  padding-top: 60px;
  height: 100vh;
}
.mainTitle {
  text-align: center;
  margin-bottom: 10px;
}
.form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 24px;
  padding-left: 24px;
  max-width: 300px;

  flex-direction: column;
  gap: 16px;
  align-items: center;
  background-color: var(--secondary-background-color);
  border-radius: 15px;

  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}
.label {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title {
  font-size: 10px;
  margin-bottom: 4px;
}
.star {
  color: var(--accent-color);
}
.inputWrapper {
  position: relative;
}
.icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translate(0, -50%);
  fill: var(--priority-text-color);
  transition: fill var(--transition-dur-and-func);
}
.input {
  width: 100%;

  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding-left: 40px;
  padding-bottom: 10px;
  padding-top: 10px;

  font-size: 12px;
  transition: border-color var(--transition-dur-and-func);
}
.input::placeholder {
  color: #8c8375;
}
.input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.input:focus + .icon {
  fill: var(--accent-color);
}

.btn {
  border-radius: 15px;
  padding: 10px 10px;
  width: 100%;
  background-color: var(--accent-color);
  border: 0;
  color: #d9d9d9;
  text-align: center;

  margin-top: 8px;

  font-size: 14px;
}
@media screen and (min-width: 1200px) {
  .form {
    max-width: 400px;
  }
  .title {
    font-size: 14px;
  }
  .input {
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .btn {
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 16px;
  }
}
