.container {
}
.form {
  min-height: calc(100vh - 50px);
  display: flex;

  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: 'center';

  font-family: 'Mate SC';
}
.label {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.input {
  background-color: #d9d9d9;
  border: 1px solid #8c8375;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.input::placeholder {
  color: #8c8375;
}
.input:focus {
  outline: none;
  border: 1px solid #3a2302;
}

.btn {
  border-radius: 3px;
  background: #3a2302;
  color: #d9d9d9;
  text-align: center;

  font-family: 'Mate SC';
  margin-top: 8px;
}
