.section {
  padding-bottom: 24px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .section {
  }
  .wrapper {
    gap: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    gap: 24px;
  }
}
