.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.username {
  margin: 0;

  font-size: 16px;
  font-style: italic;
  color: var(--priority-text-color);
}
.btnLogout {
  display: none;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btnLogout {
    display: block;
    border: 1px solid var(--accent-color);
    color: var(--priority-text-color);
    border-radius: 15px;
    background-color: transparent;
    padding: 6px 14px;
  }
}
@media screen and (min-width: 1200px) {
  .btnLogout:hover {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
  }
}
